# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/*.backup

# Terraform outputs
outputs.json

# Kubernetes
kubeconfig
*.kubeconfig

# Secrets
*.pem
*.key
secrets/
.env
*-secret*.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

**/*.pem
**/*.key
**/secrets/

**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
